<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="Glazing Services, Cladding Solutions, Aluminum Cladding, Glass Cladding, ACP Cladding, HPL Cladding,Shera Board Cladding,MS and SS Cladding,WPC Cladding, UPVC Windows, UPVC Doors, VEKA Profiles, Prominence Profiles, German UPVC, Indian UPVC, Door and Window Solutions, Aluminum Windows, Aluminum Doors, Custom Aluminum Products, Aluminum Fabrication, Quality Aluminum Products, Exterior Lighting, Interior Lighting, Façade Lights, Building Lighting, Decorative Lighting, Architectural Lighting, Solar Panel Installation, Rooftop Solar Solutions, Solar Energy Systems, Solar Panel Services, Renewable Energy Solutions " />
  <meta name="description" content="Ashi Façade Pvt Limited, established in 2009, is a leading expert in various aspects of construction and design. Our experienced and qualified team specializes in a wide range of services, including Glazing and Cladding works with Aluminium, Glass, ACP, HPL, Shera Board, MS and SS Works, WPC, UPVC Door and Windows, False Ceiling, Glass and Gypsum Partitions, custom-made Wardrobe, Kitchen, Beds, and Sofa.

  We operate a fully automated plant for manufacturing and supplying UPVC and Aluminium Doors and Windows, all backed by a 20-year warranty. Additionally, we offer complete solutions for Rooftop Solar Panels and Façade Lighting for residential and commercial projects.

  Choose Ashi Façade Pvt Limited for excellence in Aluminium and Façade works, providing turnkey solutions for interior and exterior projects. Backed by technical expertise, we are your trusted partner in construction and design." />
  <meta name="author" content="" />
  <link rel="icon" href="assets/images/logo.png" type="image/gif" />

  <title>ASHI FACADE PRIVATE LTD</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- lightbox Gallery-->
  <link rel="stylesheet" href="assets/css/ekko-lightbox.css" />

  <!-- font awesome style -->
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="assets/css/responsive.css" rel="stylesheet" />
  
  <meta property="og:title" content="Ashi Facade Pvt Limited" />
  <meta property="og:description" content="Manufacturers of Aluminium Windows and Doors across India." />
  <meta property="og:image" content="images/logo.png" />
  <meta property="og:url" content="http://example.com" />
  <meta property="og:site_name" content="Ashi Facade Pvt Limited" />
  <meta property="og:type" content="website" />

</head>

<body>

  <!-- header section strats -->
  <header class="header_section ">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="index.html">
          <span class="logo">
            <img src="assets/images/logo.png" height="100px" alt="logo image" >
          </span>
        </a>
        <div class="" id="">

          <div class="custom_menu-btn">
            <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="gallery.html">Gallery</a>
                <a href="services.html">Service</a>
                <a href="blog.html">Blog</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>