<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="Glazing Services, Cladding Solutions, Aluminum Cladding, Glass Cladding, ACP Cladding, HPL Cladding,Shera Board Cladding,MS and SS Cladding,WPC Cladding, UPVC Windows, UPVC Doors, VEKA Profiles, Prominence Profiles, German UPVC, Indian UPVC, Door and Window Solutions, Aluminum Windows, Aluminum Doors, Custom Aluminum Products, Aluminum Fabrication, Quality Aluminum Products, Exterior Lighting, Interior Lighting, Façade Lights, Building Lighting, Decorative Lighting, Architectural Lighting, Solar Panel Installation, Rooftop Solar Solutions, Solar Energy Systems, Solar Panel Services, Renewable Energy Solutions " />
  <meta name="description" content="Manufacturers of Aluminium Windows and Doors across India." />
  <meta name="author" content="" />
  <link rel="icon" href="assets/images/logo.png" type="image/gif" />

  <title>ASHI FACADE PRIVATE LTD</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- lightbox Gallery-->
  <link rel="stylesheet" href="assets/css/ekko-lightbox.css" />

  <!-- font awesome style -->
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="assets/css/responsive.css" rel="stylesheet" />
  
  <meta property="og:title" content="Ashi Facade Pvt Limited" />
  <meta property="og:description" content="Manufacturers of Aluminium Windows and Doors across India." />
  <meta property="og:image" content="images/logo.png" />
  <meta property="og:url" content="http://example.com" />
  <meta property="og:site_name" content="Ashi Facade Pvt Limited" />
  <meta property="og:type" content="website" />

</head>

<body>

  <!-- header section strats -->
  <header class="header_section innerpage_header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="index.html">
          <span class="logo">
            <img src="assets/images/logo.png" height="100px" >
          </span>
        </a>
        <div class="" id="">

          <div class="custom_menu-btn">
            <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="gallery.html">Gallery</a>
                <a href="services.html">Service</a>
                <a href="blog.html">Blog</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>