
{% include other_header.html %}
<!-- about section -->

  <section class="about_section layout_padding ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="assets/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Ashi Facade Pvt Limited is a reputable company established in 2009. Our team is comprised of experienced and highly qualified professionals dedicated to overseeing a wide range of Aluminum and Façade projects. We specialize in turnkey solutions for both interior and exterior projects, including partitions, doors, glazing, cladding, windows, fall ceilings, and more.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% include footer.html %}