{% include other_header.html %}
  <!-- header section strats -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Services
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/s1.jpg" alt="services image">
            </div>
            <div class="detail-box">
              <h5>
                Exterior Finishes
              </h5>
              <p>
                Expertise in all types of glazing and cladding works with Aluminum, Glass, ACP, HPL, Shera Board, MS, SS Works, WPC, and more. False ceilings, glass and gypsum partitions, patch fittings. 
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/s2.jpg" alt="services image">
            </div>
            <div class="detail-box">
              <h5>
                UPVC Door and Windows 
              </h5>
              <p>
                Premium UPVC door and window solutions featuring profiles from VEKA (Germany) and Prominence (Made in India).
		
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/s2.jpg" alt="services image">
            </div>
            <div class="detail-box">
              <h5>
                Glazing and Cladding Works
              </h5>
              <p>
                We excel in all types of glazing and cladding works using aluminum, glass, ACP, HPL, Shera Board, MS, SS Works, WPC, and more.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/s2.jpg" alt="services image">
            </div>
            <div class="detail-box">
              <h5>
                Interior Finishes
              </h5>
              <p>
                From false ceilings to glass and gypsum partitions, we provide complete interior solutions. We specialize in patch fittings, custom-made wardrobes, kitchens, beds, and sofas.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/s2.jpg" alt="services image">
            </div>
            <div class="detail-box">
              <h5>
                Rooftop Solar Panels
              </h5>
              <p>
                Explore our comprehensive solutions for rooftop solar panels, promoting sustainable energy generation.
                Comprehensive rooftop solar panel solutions for sustainable energy generation.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/s2.jpg" alt="services image">
            </div>
            <div class="detail-box">
              <h5>
                Solar Expertise
              </h5>
              <p>
                In addition to our aluminum services, we provide technical support for the setup of solar plants. Harness the power of renewable energy with our assistance, and take a step toward a sustainable future.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="/assets/images/s3.jpg" alt="services image">
            </div>
            <div class="detail-box">
              <h5>
                Glazing and Cladding Works
              </h5>
              <p>
                We excel in all types of glazing and cladding works using aluminum, glass, ACP, HPL, Shera Board, MS, SS Works, WPC, and more.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end service section -->

{% include footer.html %}